p, h1 {
    font-family:'Courier New', Courier, monospace;
}

#instructions {
    margin-bottom: 0;
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#stage{
    display: none;
    background-color: gray;
    width: 680px;
    height: 515px;
    /* display: flex;
    flex-wrap: wrap; */
    position: relative;
}

.btn {
    background-color: orange;
    color: white;
    border: none;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 15px;
    font-size: 16pt;
    text-align: center;
}

.btn:hover, .btn:active{
    background-color: darkorange;
    color: lightgray;
}

#hud, #stats, #timer {
    z-index: 5;
    margin-bottom: 1rem !important;
}

/* all p elements in divs */
#hud p, #stats p {
    margin: 0;
    text-align: center;
    font-size: 16pt;
}

#timer {
    text-align: center;
    font-weight: bold;
    font-size: 20pt !important;
}

#stats {
    justify-content: center;
    flex-direction: column;
}

.target {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    border: 2px solid red;
    cursor: pointer;
    background-color: white;
    position: absolute;
}

.target:active{
    background-color: lightgrey;
}